@import "./antd/dist/antd.css";

@spacing-sm: 8px;
@spacing-md: 16px;
@spacing-lg: 32px;
@spacing-xl: 64px;

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
}

.full-page-content {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 32px;
}

.ant-col {
  &.valign-center {
    display: flex;
    align-items: center;
  }
}

.full-width {
  width: 100%;
}
